{% extends 'base.html.twig' %}

{% block title %}PictureProduit index{% endblock %}

{% block body %}
    <h1>PictureProduit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture_produit in picture_produits %}
            <tr>
                <td>{{ picture_produit.id }}</td>
                <td>{{ picture_produit.name ? picture_produit.name|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('picture_produit_show', {'id': picture_produit.id}) }}">show</a>
                    <a href="{{ path('picture_produit_edit', {'id': picture_produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('picture_produit_new') }}">Create new</a>
{% endblock %}
