{% extends 'base.html.twig' %}

{% block title %}Variants index{% endblock %}

{% block body %}
    <h1>Variants index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>Color</th>
                <th>Mark</th>
                <th>Stock</th>
                <th>Memory_size</th>
                <th>Screen_size</th>
                <th>Capacity</th>
                <th>Weight_of_article</th>
                <th>Operating_system</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for variant in variants %}
            <tr>
                <td>{{ variant.id }}</td>
                <td>{{ variant.price }}</td>
                <td>{{ variant.color }}</td>
                <td>{{ variant.mark }}</td>
                <td>{{ variant.stock }}</td>
                <td>{{ variant.MemorySize }}</td>
                <td>{{ variant.ScreenSize }}</td>
                <td>{{ variant.capacity }}</td>
                <td>{{ variant.WeightOfArticle }}</td>
                <td>{{ variant.OperatingSystem }}</td>
                <td>
                    <a href="{{ path('variants_show', {'id': variant.id}) }}">show</a>
                    <a href="{{ path('variants_edit', {'id': variant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('variants_new') }}">Create new</a>
{% endblock %}
