{% extends 'base.html.twig' %}

{% block title %}Variants{% endblock %}

{% block body %}
    <h1>Variants</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ variant.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ variant.price }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ variant.color }}</td>
            </tr>
            <tr>
                <th>Mark</th>
                <td>{{ variant.mark }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ variant.stock }}</td>
            </tr>
            <tr>
                <th>Memory_size</th>
                <td>{{ variant.MemorySize }}</td>
            </tr>
            <tr>
                <th>Screen_size</th>
                <td>{{ variant.ScreenSize }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ variant.capacity }}</td>
            </tr>
            <tr>
                <th>Weight_of_article</th>
                <td>{{ variant.WeightOfArticle }}</td>
            </tr>
            <tr>
                <th>Operating_system</th>
                <td>{{ variant.OperatingSystem }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('variants_index') }}">back to list</a>

    <a href="{{ path('variants_edit', {'id': variant.id}) }}">edit</a>

    {{ include('variants/_delete_form.html.twig') }}
{% endblock %}
